body {
	background-color: #fff9f2;
}
.header {
	width: 100%;
	height: 50px;
}
.header__nav {
	width: 100%;
	height: 50px;
	display: flex;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.header__nav_elem {
	width: 20%;
	line-height: 50px;
	display: flex-box;
	text-align: center;
	color: rgba(0,0,0,0.3);
	font-weight: bold;
	text-decoration: none;
}
.selected {
	color: rgba(0,0,0,0.9);
}
.header__nav_elem:hover {
	color: rgba(0,0,0,0.9);
	cursor: pointer;
}
.header__line {
	width: 85%;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	border: none;
	border: 2px solid rgba(0,0,0,0.3);
}
.main {
	width: 85%;
	font-family: monospace;
	margin: auto;
}
.main__about {
	width: 100%;
	height: 150px;
	display: flex;
	color: rgba(0,0,0,0.8);
	font-family: monospace;
}
.flex {
	width: 50%;
	height: 150px;
	display: flex-box;
	margin: 0px;
}
.main__about_name {
	margin-top: 40px;
}
.main__about_name_text {
	font-size: 2em;
	margin: 0px;
}
.main__about_profession {
	margin-top: 60px;
}
.main__about_profession_text {
	font-size: 1.2em;
	margin: 0px;
}
.main__textHead {
	font-size: 1.5em;
	color: rgba(0,0,0,0.8);
}
.main__textName {
	width: 30%;
	margin-left: 3%;
	margin-right: 0px;
	font-size: 1.2em;
	line-height: 30px;
}
.main__aboutMe {
	width: 60%;
	line-height: 30px;
	font-size: 1.2em;
	margin-left: 6%;
}
.main__imgAbout {
	width: 350px;
	margin: 0px;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.4);
	float: right;
}
.imgMain {
	margin: auto;
	margin-top: 30px;
	width: 100%;
	height: 350px;
	background-color: black;
}
@media screen and (max-width: 768px) {
	.main__imgAbout {
		width: 200px;
	}
}
